<!-- Refence: https://github.com/iamshaunjp/JavaScript-DOM-Tutorial/blob/lesson-18/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatFI</title>
    <link rel="stylesheet" href="static/styles.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script defer src="static/index.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div id="page-banner">
          <h1 class="title">ChatFI</h1>
          <p>Chat for People who love to learn</p>
          <form id="search-messages">
            <input type="text" placeholder="Search messages..." />
          </form>
        </div>
      </header>
      <div id="message-list">
        <h2 class="title">Chat Messages</h2>
        <ul></ul>
      </div>
      <form id="add-message">
        <input type="text" placeholder="Add a message..." />
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
